/* Подвал (footer) сайта */

.footer {
  width: var(--width);
  margin: 50px auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 27px 20px 27px;
}

.footer .footer__nav {
  display: flex;
  justify-content: space-between;
}

.footer .footer__nav a {
  font-family: "Roboto Mono";
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
}

.footer .footer__nav div {
  display: flex;
  gap: 50px;
}
