* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f8faff 0% 0% no-repeat padding-box;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

:root {
--width: 1000px;
}

/* Шапка (header) сайта */

.header {
  width: var(--width);
  margin: 50px auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 27px 20px 27px;
}

.header .header__nav {
  display: flex;
  justify-content: space-between;
}

.header .header__nav a {
  font-family: 'Roboto Mono';
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
}

.header .header__nav div {
  display: flex;
  gap: 50px
}